<!DOCTYPE html>

<head>
    <title>Crop Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=Space+Grotesk:wght@300..700&family=Whisper&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/flex.css">
    <link rel="stylesheet" href="css/crop.css">
</head>

<body class="main2">
    <div class="header">
        <img class="symbol" src="images/har.jpg">
        <p class="slogan">"Grow Smart, Harvest Better: Your Crop Companion!"</p>
        <button class="home" onclick="location.href='Landing_page.html'">HOME</button>
        <button class="guide1" onclick="location.href='crop.html'">CROP</button>
        <button class="guide2" onclick="location.href='fertilizer.html'">FERTILIZER</button>
        <button class="about" onclick="location.href='about.html'">ABOUT US</button>
    </div>
    <div class="mainc1">
        <h2 class="heading">
            <Var>various parameter releted to the crop prediction </Var>

        </h2>

        <p></p>
        <li>
            <h3>1.Nitrogen Level :</h3>
            <ul>
                <li> Nitrogen fertilizer significantly increased the root biomass, plant height,
                    rootlength and root diameter.
                </li>
            </ul>
            <ol type="A">
                <li> Applications, of farmyard manure, every four years, increased organic carbon and
                    total nitrogen content by about 10 %.</li>
                <li> Ammonium nitrate used over many years reduced soil pH and increased hydrolytic
                    acidity of the soil.</li>
                <li> Yield increases influenced by nitrogen fertilization were very high and in most
                    cases higher on the non-manured than manured plots.</li>
                <li> The effect of farmyard manure on crop yield was in most cases greater on the plots
                    without rather than with nitrogen fertilization.</li>

            </ol>
        </li>
        </p>
    </div>
    <div align="left" class="mainc1">
        <div align="left">
            <table width="435" border="1" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td width="152" bgcolor="#FFCC66">
                            <p align="center"><strong>Nutrient</strong></p>
                        </td>
                        <td width="81" bgcolor="#FFCC66">
                            <p align="center"><strong>Low</strong></p>
                        </td>
                        <td width="88" bgcolor="#FFCC66">
                            <p align="center"><strong>Medium</strong></p>
                        </td>
                        <td width="104" bgcolor="#FFCC66">
                            <p align="center"><strong>High</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="152" bgcolor="#FFFFff">
                            <p class="style24">Organic carbon </p>
                        </td>
                        <td width="81" bgcolor="#FFFFff">
                            <p>&lt; &nbsp;0.5 % </p>
                        </td>
                        <td width="88" bgcolor="#FFFFff">
                            <p>0.5 - 7.5%</p>
                        </td>
                        <td width="104" bgcolor="#FFFFff">
                            <p>&gt; &nbsp;0.75%</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="152" bgcolor="#FFFFff">
                            <p class="style24">Available nitrogen ( N)</p>
                        </td>
                        <td width="81" bgcolor="#FFFFff">
                            <p>&lt; &nbsp;240Kg/ha</p>
                        </td>
                        <td width="88" bgcolor="#FFFFff">
                            <p>240- 480kg/ha</p>
                        </td>
                        <td width="104" bgcolor="#FFFFff">
                            <p>&gt;&nbsp; &nbsp;480Kg/ha </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="152" bgcolor="#FFFFff">
                            <p class="style24">Available Phosphorus (P)</p>
                        </td>
                        <td width="81" bgcolor="#FFFFff">
                            <p>&lt; &nbsp;11.0 Kg/ha </p>
                        </td>
                        <td width="88" bgcolor="#FFFFff">
                            <p>11 – 22 Kg/ha </p>
                        </td>
                        <td width="104" bgcolor="#FFFFff">
                            <p>&gt;&nbsp; &nbsp;22 Kg/ha</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="152" bgcolor="#FFFFff">
                            <p class="style24">Available potassium ( K)</p>
                        </td>
                        <td width="81" bgcolor="#FFFFff">
                            <p>&lt;&nbsp; 110Kg/ha </p>
                        </td>
                        <td width="88" bgcolor="#FFFFff">
                            <p>110-280Kg/ha</p>
                        </td>
                        <td width="104" bgcolor="#FFFFff">
                            <p>&gt;&nbsp; &nbsp;280Kg/ha</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mainc1">
        <p>

            <li>
                <h3>2.Soil Ph Level :</h3>
                <ul>
                    <li> A pHCa range between 5 and 6 is considered ideal for most plants. Acid soils
                        have a major effect on plant productivity once the soil pHCa falls below 5.Soil pH will
                        influence both
                        the availability of soil nutrients to plants and how the nutrients react with each other.
                    </li>
                </ul>
                <ol type="A">
                    <li> pH 6.5 — close to neutral — Optimum for many acid-sensitive plants. Some trace elements may
                        become unavailable.</li>
                    <li> pH 5.5 — slightly acid — Optimal balance of major nutrients and trace elements available for
                        plant uptake.</li>
                    <li>pH 5.0 — moderately acid — Below pH 4.8 aluminium (Al) can become toxic to plants, depending on
                        soil
                        type. Phosphorus combines with Al and may be less available to plants.</li>
                    <li>pH 4.5 — strongly acid — Aluminium becomes soluble in toxic quantities. Manganese (Mn) becomes
                        soluble and toxic to plants in some soils, depending on temperature and moisture conditions.
                        Molybdenum (Mo) is less available. Soil bacterial activity is slowed down.
                    <li>pH 4.0 — extremely acid — Irreversible soil structural breakdown can occur </li>
            </li>




            </ol>
        </p>

    </div>
    <div align="left" class="mainc1">
        <table width="430" border="1" align="center" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td width="167" bgcolor="#FFCC66">
                        <p align="center"><strong>Soil Types</strong></p>
                    </td>
                    <td width="257" bgcolor="#FFCC66">
                        <p align="center" class="style24"><strong>pH</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="167" bgcolor="#FFFFff">
                        <p class="style24">Acids </p>
                    </td>
                    <td width="257" bgcolor="#FFFFff">
                        <p align="center">&lt; 6.0</p>
                    </td>
                </tr>
                <tr>
                    <td width="167" bgcolor="#FFFFff">
                        <p class="style24">Normal to Saline </p>
                    </td>
                    <td width="257" bgcolor="#FFFFff">
                        <p align="center">6.0 to 8.5</p>
                    </td>
                </tr>
                <tr>
                    <td width="167" bgcolor="#FFFFff">
                        <p class="style24">Tending to become Alkaline</p>
                    </td>
                    <td width="257" bgcolor="#FFFFff">
                        <p align="center">8.9 to 9.0</p>
                    </td>
                </tr>
                <tr>
                    <td width="167" bgcolor="#FFFFff">
                        <p class="style24">Alkaline</p>
                    </td>
                    <td width="257" bgcolor="#FFFFff">
                        <p align="center">&gt;&nbsp; &nbsp;9.0</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="mainc1">
        <p>

            <!-- <li> -->
        <h3 class="">3.Rain Fall Effect On crop Production :</h3>
        <ul>
            <li>Rainfall is an important factor in agricultural production. Without adequate rainfall, crops cannot
                grow, and yields can be limited. Farmers need to understand how much rainfall their crops need to
                produce a good yield. Organic farming has also a great importance of rainfall as it mostly depends on
                the natural climatic conditions.In addition, farmers should practice crop rotation and use good soil
                management
                techniques to help retain moisture, reduce erosion, and improve soil fertility. Adequate rainfall can
                lead to a
                good harvest, while too much or too little rain can harm crop yields.</li>

        </ul>
        <ol>
            For instance, a good monsoon generally leads to a bumper harvest, while scanty rainfall can cause crop
            failure1. However, the effect of rainfall can be both favorable and adverse.
            <ol>
                <li>In Punjab and West Bengal, rainfall during the sowing and growing season had little favorable effect
                    on area and yield, and its
                    effect on Rice yield was even harmful1.
                </li>
                <li>On the other hand, rainfall in Uttar Pradesh and Madhya Pradesh had
                    beneficial effects on the respective state’s and on each other’s production1 Moreover, the spatial
                    and temporal dimensions of rainfall are the driving factors for crop yields. Under
                    different climate scenarios, several studies have projected a decline in rice, wheat, and maize
                    yields
                    inthe country due to changes in rainfall and temperatures
                </li>
            </ol>
            <p  class="heading">
               <h2 class="heading">
                Table Of Genral Values Of  Various parameter
               </h2>
            </p>
            <div align="left" class="mainc1">
                <div align="left">
                    <table width="435" border="1" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Index</strong></p>
                                </td>
                                <td width="81" bgcolor="#FFCC66">
                                    <p align="center"><strong>Crop Name</strong></p>
                                </td>
                                <td width="88" bgcolor="#FFCC66">
                                    <p align="center"><strong>NITROGEN</strong></p>
                                </td>
                                <td width="104" bgcolor="#FFCC66">
                                    <p align="center"><strong>Phosphorus</strong></p>
                                </td>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Potassium</strong></p>
                                </td>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Temperature</strong></p>
                                </td>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Humidity</strong></p>
                                </td>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Ph</strong></p>
                                </td>
                                <td width="152" bgcolor="#FFCC66">
                                    <p align="center"><strong>Rainfall</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td width="152" bgcolor="#FFFFff">
                                    <p class="style24">1. </p>
                                </td>
                                <td width="81" bgcolor="#FFFFff">
                                    <p> Rice </p>
                                </td>
                                <td width="88" bgcolor="#FFFFff">
                                    <p>79.89</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>47.89</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>39.87</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>23.69</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>82.27</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>6.43</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>236.18</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="152" bgcolor="#FFFFff">
                                    <p class="style24">2.</p>
                                </td>
                                <td width="81" bgcolor="#FFFFff">
                                    <p> maize</p>
                                </td>
                                <td width="88" bgcolor="#FFFFff">
                                    <p>77.76</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>48.44 </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>19.79 </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>22.39 </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>22.39</p>
                                    </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>6.25 </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>84.77 </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="152" bgcolor="#FFFFff">
                                    <p class="style24">3</p>
                                </td>
                                <td width="81" bgcolor="#FFFFff">
                                    <p>Chikepa </p>
                                </td>
                                <td width="88" bgcolor="#FFFFff">
                                    <p>40.09 </p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 67.79</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>79.92</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>18.87</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>16.67</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>7.34</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p>80.06</p>
                                </td>
                            </tr>
                            <tr>
                                <td width="152" bgcolor="#FFFFff">
                                    <p class="style24">4</p>
                                </td>
                                <td width="81" bgcolor="#FFFFff">
                                    <p> kidneybeans</p>
                                </td>
                                <td width="88" bgcolor="#FFFFff">
                                    <p>20.75</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 67.54</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 20.05</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 20.12</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 21.61</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 5.75</p>
                                </td>
                                <td width="104" bgcolor="#FFFFff">
                                    <p> 105.92</p>
                                </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">5</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> pigeonpeas</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 20.73</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 67.74</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 20.29</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 27.14</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 48.06</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>5.79</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 149.46</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">6</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> mothbeans</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 21.44</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 48.01</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 20.23</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 28.19</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 53.16</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.83</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 51.20</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">7</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> mungbean</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 20.99</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 47.28</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 19.87</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 28.53</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 85.50</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.72</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 48.40</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">8</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> blackgram</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 40.02</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 67.47</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 19.24</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 29.97</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 65.12</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 7.13</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 67.88</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">9</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> lentil</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 18.77</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 68.36</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 19.41</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 24.51</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 64.80</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>6.93</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 45.68</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">10</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> pomegranate</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 18.87</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 18.75</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 40.21</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 21.84</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 90.13</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>6.43</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 107.53</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">11</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> banana</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 100.23</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>82.01</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 50.05</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 27.38</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 80.36</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 5.98</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 104.63</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">12</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> mango</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 20.07</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 27.18</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 29.92</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 31.21</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>50.16</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p>5.77</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 94.70</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">13</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> grapes</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 23.18</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 132.53</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 200.11</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 23.85</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 81.88</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.03</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 69.61</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">14</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> watermelon</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p>99.42</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 17.00</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 50.22</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 25.59</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 85.16</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.50</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 50.79</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">15</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> muskmelon</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 100.32</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 17.72</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 50.08/p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 28.66</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 92.34</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.36</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 24.69</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">16</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> apple</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 20.80</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 134.22</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 199.89</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 22.63</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 92.33</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 5.93</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 112.65</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">17</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> orange</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 19.58</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 16.55</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 10.01</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 22.77</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 92.17</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 7.05</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 110.47</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">18</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> coconut</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 21.98</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 16.93</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 30.59</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 27.41</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 94.84</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 5.98</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 175.69</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">19</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> papaya</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 49.88</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 59.05</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 50.04</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 33.72</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 92.40</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.74</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 142.63</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">20</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> cotton</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 117.77</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 46.24</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 19.56</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 23.99</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 79.84</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.91</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 80.40</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">21</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> jute</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p>78.40</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 46.86</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 39.99</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 24.96</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 79.64</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.73</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 174.79</p>
                            </td>
                            </tr>
                            <td width="152" bgcolor="#FFFFff">
                                <p class="style24">22</p>
                            </td>
                            <td width="81" bgcolor="#FFFFff">
                                <p> coffee</p>
                            </td>
                            <td width="88" bgcolor="#FFFFff">
                                <p> 101.20</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 28.74</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 29.94</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 25.54</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 58.87</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 6.79</p>
                            </td>
                            <td width="104" bgcolor="#FFFFff">
                                <p> 158.07</p>
                            </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

    </div>
    <footer>
        
        <p class ="footer" >
            Copyright &copy; 2024.
        </p>      

</footer>

</body>