<!DOCTYPE html>
<head>
    <title>Fertilizer Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=Space+Grotesk:wght@300..700&family=Whisper&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/flex.css">
</head>
<body class="main3">
    <div class="header">
        <img class="symbol" src="images/WhatsApp Image 2024-03-14 at 09.14.42_6ea92a3b.jpg">
        <p class="slogan">"Grow Smart, Harvest Better: Your Crop Companion!"</p>
        <button class="home" onclick="location.href='Landing_page.html'">HOME</button>
        <button class="guide1" onclick="location.href='crop.html'">CROP</button>
        <button class="guide2" onclick="location.href='fertilizer.html'">FERTILIZER</button>
        <button class="about" onclick="location.href='about.html'">ABOUT US</button>
    </div>    
</body>